BASE_UI_URL=https://localhost:3000/#/greenCity

IMPLICIT_WAIT_TIMEOUT=10
EXPLICIT_WAIT_TIMEOUT=10


EMAIL=tesst@hotmail.com
PASSWORD=test1234!
USER_NAME=Test User
BROWSER_LANG=uk-UA
HEADLESS_MODE=False